section.page, section.link {
    padding-left: 2rem;
    border-left: 5px solid #a008d2;
}
section.dev {
    border-color: #666666;
}
section.dead {
    color: #777777;
    border-color: #444444;
}
section.accent {
    border-color: #ffa000;
}

div.for-egg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.for-egg h4 {
    display: flex;
}
h4.egg {
    opacity: 0;
    transition-duration: 0.2s;
}
h4.egg:hover {
    opacity: 1;
}
h4.egg:active {
    opacity: 0;
    transition-duration: 0.2s;
}