html {
  height: 100%;
  width: 100%;
}

h4 {
  margin-left: 10px;
}

.divFiles {
  width: auto;
  height: auto;
  margin-left: 5px;
  border-top: 1px solid black;
  padding: 5px;
}

textarea {
  resize: none;
  width: 95%;
  padding: 10px;
}

.divResults {
  border-top: 1px solid black;
  width: auto;
  margin-top: 10px;
  padding-top: 10px;
}


.divText {
  height: auto;
  width: auto;
  margin-left: 5px;
  padding: 5px;
  border-top: 1px solid black;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

#divDependency {
  padding-left: 10px;
  margin-bottom: 10px;
}

#divLemma {
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 5px;
}

#results {
  margin-left: 10px;
  margin-top: 10px;
  padding: 5px;
  width: 90%;
  border: 1px solid black;
  overflow-wrap: normal;
}

#btnSubmit1,
#btnSubmit2 {
  margin-top: 10px;
}

#btnSubmit1 {
  margin-bottom: 10px;
}

#btnSearch {
  margin: 10px;
  margin-top: 0px;
}

#searchArea {
  margin-bottom: 30px;
  margin-left: 10px;
}

#divChooseSearchFiles {
  margin-left: 10px;
  margin-top: 20px;
}

#lblError,
#lblError1 {
  color: red;
}
